<table style='border-collapse: collapse; border: 1px solid'>
    <tr style='border-collapse: collapse; border: 1px solid'>
        <td style='border-collapse: collapse; border: 1px solid'>ID</td>
        <td style='border-collapse: collapse; border: 1px solid'>Stock</td>
        <td style='border-collapse: collapse; border: 1px solid'>Reserved</td>
    </tr>

    {% for stock in stocks %}
    <tr style='border-collapse: collapse; border: 1px solid'>
        <td style='border-collapse: collapse; border: 1px solid'>{{ stock.id() }}</td>
        <td style='border-collapse: collapse; border: 1px solid'>{{ stock.stock }}</td>
        <td style='border-collapse: collapse; border: 1px solid'>{{ stock.reserved }}</td>
    </tr>
{% endfor %}